<div id="sidebar" class="flex-sidebar flex-one">
    <div class="sidebar-about flex-vertical">
        {{#get "users" slug="chelseabalderston" as |user|}}
            {{#user}}
                <div class="about-desc">{{bio}}</div>
            {{/user}}
        {{/get}}
    </div>
    <div class="sidebar-social flex-vertical">
        <div class="sidebar-social-container flex">
            <a class="sidebar-social-link flex-one" target="_blank" href="https://twitter.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Twitter.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://facebook.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Facebook.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://instagram.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Instagram.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://pinterest.com/madteaparty">
                <img class="sidebar-icon" src="{{asset "/images/icons/Pinterest.png"}}">
            </a>
        </div>
    </div>
    <a id="optin-link" rel="ck_modal" href="#ck_modal">
        <div id="optin" class="sidebar-content" data-remodal-target="sidebar-optin" class="subscribe-button">
            Subscribe
        </div>
    </a>
    <div class="sidebar-instagram">
        <!-- LightWidget WIDGET -->
        <script src="//lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/e199dce216e954489914b4b7b5867bdb.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
    <div class="sidebar-ad center">
        <a href="https://click.linksynergy.com/fs-bin/click?id=vPt5041vjCM&offerid=499524.46&subid=0&type=4"><IMG border="0"   alt="Frame Denim" src="https://ad.linksynergy.com/fs-bin/show?id=vPt5041vjCM&bids=499524.46&subid=0&type=4&gridnum=12"></a>
    </div>
    <div class="sidebar-ad center">
        <a href="https://click.linksynergy.com/fs-bin/click?id=vPt5041vjCM&offerid=357944.10021256&subid=0&type=4"><IMG border="0"   alt="NORDSTROM -  Shop the Half-Yearly Sale for Men, Women & Kids through June 4" src="https://ad.linksynergy.com/fs-bin/show?id=vPt5041vjCM&bids=357944.10021256&subid=0&type=4&gridnum=19"></a>
    </div>
    <div class="sidebar-latest flex-vertical">
        <h3 class="sidebar-header">Popular Posts</h3>
        {{#get "posts" filter="tags:popular" limit=4}}
            {{#foreach posts}}
                <a class="latest-posts latest-posts-popular flex" href="{{url}}">
                    <div class="latest-posts-img">
                        <img src="{{image}}?w=150"></img>
                    </div>
                    <div class="latest-posts-info flex-one flex-vertical">
                        <div class="latest-posts-title">{{title}}</div>
                        <div class="latest-posts-date">{{date}}</div>
                    </div>
                </a>
            {{/foreach}}
        {{/get}}
    </div>
    <div class="sidebar-latest flex-vertical">
        <h3 class="sidebar-header">Latest Posts</h3>
        {{#get "posts" limit=4}}
            {{#foreach posts}}
                <a class="latest-posts flex" href="{{url}}">
                    <div class="latest-posts-img">
                        <img src="{{image}}?w=150"></img>
                    </div>
                    <div class="latest-posts-info flex-one flex-vertical">
                        <div class="latest-posts-title">{{title}}</div>
                        <div class="latest-posts-date">{{date}}</div>
                    </div>
                </a>
            {{/foreach}}

            <script>
                for (i = 0; i < $('.latest-posts-img img').length; i++) {
                    var sideImg = $(".latest-posts-img img");

                    if ($(sideImg[i]).width() > $(sideImg[i]).height()) {
                        $(sideImg[i]).addClass('landscape-sidebar-image');
                    }
                }
            </script>
        {{/get}}
    </div>
</div>
