<div id="sidebar" class="flex-sidebar flex-one">
    <div class="sidebar-about flex-vertical">
        <div class="about-desc">Hi! My name is Chelsea and this is my little piece of internet real estate, Dress to Thrive. The purpose of this blog is to ignite creativity + inspiration through personal style, so settle in with a good cup of coffee and take a gander. I'm so happy you're here.</div>
    </div>
    <div class="sidebar-social flex-vertical">
        <div class="sidebar-social-container flex">
            <a class="sidebar-social-link flex-one" target="_blank" href="https://twitter.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Twitter.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://facebook.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Facebook.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://instagram.com/dresstothrive">
                <img class="sidebar-icon" src="{{asset "/images/icons/Instagram.png"}}">
            </a>
            <a class="sidebar-social-link flex-one" target="_blank" href="https://pinterest.com/madteaparty">
                <img class="sidebar-icon" src="{{asset "/images/icons/Pinterest.png"}}">
            </a>
        </div>
    </div>
    <a id="optin-link" rel="ck_modal" href="#ck_modal">
        <div id="optin" class="sidebar-content" data-remodal-target="sidebar-optin" class="subscribe-button">
            Subscribe
        </div>
    </a>
    <div class="sidebar-instagram">
        <!-- InstaWidget -->
        <a href="https://instawidget.net/v/user/dresstothrive" id="link-af2d0c23fec49f4e2af6f9cbabd082ae8389003cc11006d3793aacb44395bf6a">@dresstothrive</a>
        <script src="https://instawidget.net/js/instawidget.js?u=af2d0c23fec49f4e2af6f9cbabd082ae8389003cc11006d3793aacb44395bf6a&width=300px"></script>
    </div>
    {{!-- <div class="sidebar-ad center">
      <a href="https://click.linksynergy.com/fs-bin/click?id=vPt5041vjCM&offerid=497715.790&subid=0&type=4"><IMG border="0"   alt="TOMS Shoes" src="https://ad.linksynergy.com/fs-bin/show?id=vPt5041vjCM&bids=497715.790&subid=0&type=4&gridnum=19"></a>
    </div> --}}
    {{!-- <div class="sidebar-ad center">
        <a href="https://click.linksynergy.com/fs-bin/click?id=vPt5041vjCM&offerid=467303.691&subid=0&type=4"><IMG border="0"   alt="LOFT" src="https://ad.linksynergy.com/fs-bin/show?id=vPt5041vjCM&bids=467303.691&subid=0&type=4&gridnum=13"></a>
    </div> --}}
    <div class="sidebar-latest flex-vertical">
        <h3 class="sidebar-header">Popular Posts</h3>
        {{#get "posts" filter="tags:popular" limit=4}}
            {{#foreach posts}}
                <a class="latest-posts latest-posts-popular flex" href="{{url}}">
                    <div class="latest-posts-img flex-one">
                        <img src="{{img_url feature_image}}?w=100"></img>
                    </div>
                    <div class="latest-posts-info flex-vertical">
                        <div class="latest-posts-title">{{title}}</div>
                        <div class="latest-posts-date">{{date}}</div>
                    </div>
                </a>
            {{/foreach}}
        {{/get}}
    </div>
    {{!-- <div class="shopsense-widget" data-options="%7B%22widgetId%22%3A%2259318a99dd4edb5f06ff6756%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid6644-39435238-4%22%2C%22size%22%3A180%2C%22columns%22%3A1%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A255%2C%22iframeWidth%22%3A255%7D"> 
        <h3 class="sidebar-header">Wish List</h3>
        <script> !function(doc,s,id){ var e, p, cb; if(!doc.getElementById(id)) { e = doc.createElement(s); e.id = id; cb = new Date().getTime().toString(); p = '//shopsensewidget.shopstyle.com/widget-script.js?cb=1496418236389?cb=' + cb; e.src = p; doc.body.appendChild(e); } if(typeof window.ss_shopsense === 'object'){ if(doc.readyState === 'complete'){ window.ss_shopsense.init(); } } }(document, 'script', 'shopsensewidget-script'); 
        </script> 
        <iframe class="center" src="//shopsensewidget.shopstyle.com/#/?options=%7B%22widgetId%22%3A%2259318a99dd4edb5f06ff6756%22%2C%22version%22%3A1%2C%22pid%22%3A%22uid6644-39435238-4%22%2C%22size%22%3A180%2C%22columns%22%3A1%2C%22rows%22%3A1%2C%22url%22%3A%22https%3A%2F%2Fapi.shopstyle.com%2Fapi%2Fv2%22%2C%22iframeHeight%22%3A255%2C%22iframeWidth%22%3A255%7D"
        height="255px"
        width="255px"
        seamless style="border: 0;">
        </iframe> 
    </div> --}}
</div>

<script>
    var coverImg = $(".latest-posts-img img");
    
    for(i = 0; i < coverImg.length; i++) {
        var landscape = false;
        if ($(coverImg[i]).width() > $(coverImg[i]).height()) {
            var landscape = true;
            $(coverImg[i]).css('margin-top', '0');
        }
    }
</script>
