{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The main content area on the homepage }}
<main class="content" role="main">
<div class="wrapper flex-wrapper">
    <div id="content" class="flex-content flex home-content">
        <div class="home-section-container flex-vertical">
            <div class="home-section flex-vertical flex-center">
                {{#foreach posts}}
                <article class="{{post_class}} home-post">
                    <section class="post-excerpt">
                        <header class="home-post-header">
                            <h2 class="home-post-title"><a href="{{url}}">{{title}}</a></h2>
                            <div class="home-post-meta">
                                {{tags}}
                                <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time>
                            </div>
                        </header>
                        <img src="{{img_url feature_image}}">
                        <div>
                            {{#if excerpt}}
                                {{excerpt}}
                            {{else}}
                                {{#if meta_description}}
                                    {{meta_description}}
                                 {{/if}}
                            {{/if}}
                        </div>
                        <div class="flex">
                            <a class="center read-more" alt="Read More" href="{{url}}">Read More</a>
                        </div>
                        {{!-- <p>{{content}}</p> --}}
                    </section>
                </article>
                {{/foreach}}
            </div>
            {{pagination}}
        </div>
        {{> "sidebar"}}
    </div>
</div>
<script src="/assets/bower_components/moment/min/moment.min.js"></script>
</main>